@mixin displayFlex($jusContent: center, $flDirect: column,$aItems: center,) {
    display: flex;
    flex-direction: $flDirect;
    align-items: $aItems;
    justify-content: $jusContent;
}

@mixin fontStyle ($fSize: 16px, $fWeight: 700, $color: rgba(78, 78, 78, 1)) {
    font-size: $fSize;
    font-family: $main-font;
    font-weight: $fWeight;
    line-height: 22px;
    letter-spacing: 1px;
    color: $color;
    text-align: left;
    
}