@import "reset";
@import "_mixins";

$main-font: Roboto;
$font-size: 16px;
$tablet: 768px;
$mobile: 320px;

header {
    @include displayFlex();
    width: 100%;
}

.header-content {
    max-width: 1200px;
    @include displayFlex();

    .menuButton {
        display: none;
    }

    @media (max-width: $mobile) {
        ul {
            display: none;
            //     width: 162px;
            //    @include displayFlex($jusContent: center,$aItems: start);
            //    align-self: flex-end;
        }

        .menuButton {
            display: block;
            margin-bottom: 23px;
            margin-top: 23px;
            align-self: flex-end;
        }
    }

    @media (max-width:$mobile) {
        width: 320px;
    }

    @media (max-width: $tablet) {
        max-width: $tablet;
    }
}

ul {
    width: 100%;
    margin: 45px 0px;
    @include displayFlex($jusContent: space-evenly, $flDirect: row);

    li {
        a {
            text-decoration: none;
            @include fontStyle($fSize: 11px, $fWeight: 400, $color: rgba(78, 78, 78, 1));

            &:hover {
                color: rgba(1, 164, 164, 1);
            }
        }
    }
}

.recent-posts {
    @include displayFlex();
    width: 100%;
}

.container-posts {
    max-width: 1152px;
    margin-bottom: 40px;
}

h2 {
    @include fontStyle();
    margin: 45px 0px 22px;
}

.resent-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;

    a {
        text-decoration: none;
        @include displayFlex($jusContent: space-between, $flDirect: row);

        div {
            margin-left: 20px;

        }

        h4 {
            @include fontStyle($fSize: 16px);
        }

        h5 {
            @include fontStyle($fSize: 12px, $fWeight: 400, $color: rgba(124, 124, 124, 1));
        }

        p {
            @include fontStyle($fSize: 14px, $fWeight: 400, $color: rgba(92, 92, 92, 1));
        }
    }

    @media (max-width: $tablet) {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    @media (max-width:$mobile) {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;

        .last-child {
            display: none;
        }

        a {
            @include displayFlex($aItems: start);

            div {
                margin-left: 0px;
            }

            p {
                display: none;
            }
        }
    }
}

.instagram-shots {
    width: 100%;
    background-color: rgba(243, 243, 243, 1);
    @include displayFlex();

    @media (max-width:$mobile) {
        background-color: rgba(255, 255, 255, 1);
    }
}

.container-shots {
    margin-bottom: 40px;
}

.text-shots {
    width: 100%;
    margin: 0px 0px 22px;
    @include displayFlex($jusContent: space-between, $flDirect: row);

    h2 {
        @include fontStyle();
    }

    h4 {
        @include fontStyle($fSize: 13px);
    }

    @media (max-width:$mobile) {
        margin: 0px 0px 0px;
    }
}

@media (max-width: $tablet) {
    .shot {
        display: inline-block;
        height: 249px;
        width: 249px;
    }

    .shot-4 {
        display: none;
    }
}

@media (max-width: $mobile) {
    .text-shots>h4 {
        display: none;
    }
}

@media (max-width: $mobile) {
    .shot {
        display: none;
    }

    .shot-1 {
        display: block;
    }
}

footer {
    height: 355px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    @include displayFlex()
}

.footer-content {
    width: 684px;
    height: 215px;
    @include displayFlex($jusContent: space-between);

    h2 {
        @include fontStyle($color: rgba(254, 254, 254, 1));
    }

    @include fontStyle($fSize: 14px, $fWeight: 400, $color: rgba(185, 185, 185, 1));

    @media (max-width: $mobile) {
        width: 300px;
        text-align: center;
    }
}